@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
	color:white;
	font-family: 'Open Sans', sans-serif;

}
h1
{
	color:white;
	
}
p
{
	color:white;
	font-family: 'Open Sans', sans-serif;
	
}
ul {
    text-align: center;
    list-style-type: none;
}
li
{
	color:white;
	
}
img
{
	color:white;
	
}
#slogan
{
    font-style: italic;

}