@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body
{
    background-color:white;
    color:white;
    font-family: 'Open Sans', sans-serif;

}
h1
{
    color:gray;
    
}
p
{
    color:gray;
    font-family: 'Open Sans', sans-serif;
    
}
ul {
    text-align: center;
    list-style-type: none;
}
li
{
    color:gray;
    
}
img
{
    color:gray;
    
}
#slogan
{
    font-style: italic;

}
header {
    background-color: white;
    border:0;
    padding: 50px;
}
nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}
article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: white;
    border:0;
    padding: 20px;
}
section {
   background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: black;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: black;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
input {
   background-color: white;
    background-image: url('http://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
    height: 40px;
    width: 50%;
}

input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 50%;
}

@media only screen and (max-width: 768px) {
  body {
    background-color:blue;
  }
}
@media only screen and (max-width: 400px) {
 body {
    background-color:green;
  }
}

