body
{
	color:#00ffaa;

}
h1
{
	color:#00ffaa;
	
}
p
{
	color:#00ffaa;
	
}
ul {
    text-align: center;
    list-style-type: none;
}
li
{
	color:#00ffaa;
	
}
img
{
	color:#00ffaa;
	
}
#slogan
{
    font-style: italic;

}